@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Roboto+Condensed&display=swap');

/* reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    resize: none;
}

:root {
    --font_barlow-texto: 'Barlow Condensed', sans-serif;
    --font_roboto-titulo:'Roboto Condensed', sans-serif;
    --background2: #F4DFD0;
    --verde: #9BA17B;
    --background1: #FFF8F3;

}

/* Classe de alinhamento */
.alinhamento {
    width: 1440px;
    margin: 0 auto;
}

header {
    background-color: var(--background2);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 600px;
    list-style: none;
}

.menu a {
    text-transform: uppercase;
    color: var(--verde);
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font_roboto-titulo);
    font-weight: 800;

}

.menu a:hover {
    border-bottom: 2xp solid var(--background2);
    color: #61764B;
}

/* ---QUEM SOMOMS?======= */

main {
    background-color: var(--background1);
}

h1 {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

.quem_somos {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.primeira_foto {
    width: 700px;
    box-shadow: 10px 10px 40px 10px rgba(56, 37, 31, 0.275);
    border-radius: 70px;
}

.sobre {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.sobre_titulo {
    font-family: var(--font_roboto-titulo);
    font-size: 60px;
    color: #9BA17B;
}

.sobre_texto {
    font-family: var(--font_barlow-texto);
    font-size: 25px;
}

.btn_esg {
    background: var(--background2);
    border-radius: 30px;
    border: #FFF8F3;
    width: 250px;
    height: 60px;
    font-size: 25px;
    box-shadow: 5px 5px 40px 5px rgba(92, 67, 67, 0.4);
}

.btn_esg a {
    text-decoration: none;
    color: var(--verde);
}

.Data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font_roboto-titulo);
    font-size: 90px;
    color: var(--verde);
    background-color: var(--background2);
    padding: 100px;
}

span {
    text-transform: uppercase;
}

/* Imagens */

.imagens {
    background-color: var(--background2);
    padding-bottom: 100px;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.imgs>* {
    width: 475px;
    border-radius: 50px;
    box-shadow: 10px 10px 40px 10px rgba(63, 46, 46, 0.4);

}

/* ESG  */

.ESG {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    flex-direction: row-reverse;
}

.sobre_esg {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.sobre_esg_titulo {
    font-family: var(--font_roboto-titulo);
    font-size: 60px;
    color: #9BA17B;
}

.sobre_esg_texto {
    font-family: var(--font_barlow-texto);
    font-size: 30px;
}

.ESG img {
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
    height: 380px;
    width: 550px;
}

.formulario {
    background-color: var(--background2);
    padding: 100px 0;
}

.formulario_titulo {
    text-align: center;
    font-family: var(--font_roboto-titulo);
    font-size: 60px;
    color: var(--verde);
    margin: 15px;
}

form {
    color: white;
    font-family: var(--font_barlow-texto);
    display: flex;
    flex-direction: column;
    gap: 35px;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;

}

label {
    font-size: 25px;
}

input {
    height: 35px;
    padding: 20px;
}

textarea {
    padding: 20px;
}

.borda {
    border: 1px solid var(--branco_pastel);
    border-radius: 15px;
}

.btn_forms {
    background: white;
    border: var(--background1);
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: var(--verde);
    margin: 0 auto;
}

.mapa {
    width: 580px;
}

.contato {
    padding: 100px 0;
}

.contato_titulo {
    font-family: var(--font_roboto-titulo);
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
    color: #9BA17B;
}

.conteudo_contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.borda_mapa {
    border: 5px solid var(--background2);
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato_info {
    font-family: var(--font_barlow-texto);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    align-items: center;
}

.info>i {
    margin-right: 20px;
    color: var(--verde);
}

footer {
    background-color: var(--background2);
    color: var(--verde);
    font-family: var(--font_roboto-titulo);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

/* Responsividade */

/* Pequenas telas: até 600px
    celular: 600px até 768px
    tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes telas: acima de 1200px */

@media screen and (max-width: 1440px) {

    #burguer {
        display: none;
    }

    .alinhamento {
        width: 100%;
    }

    nav {
        padding: 0 50px;
    }

    .quem_somos {
        padding: 100px 50px;
    }

    .sobre {
        max-width: 500px;
    }

    .imgs {
        flex-wrap: wrap;
    }


    .ESG {
        padding: 100px 50px;
    }

    .sobre_esg_texto {
        font-size: 26px;
    }

    .ESG img {
        width: 50%;
    }

}

@media screen and (max-width: 1200px) {

    .primeira_foto {
        width: 550px;
    }

    .ESG img {
        width: 45%;
    }

    .sobre_esg_texto {
        font-size: 22px;
    }

    .sobre_esg {
        width: 480px;
    }

}

@media screen and (min-width: 900px) 
{
    #burguer{
        display: none;
    }
}

@media screen and (max-width: 900px) {

    .quem_somos {
        flex-direction: column;
        margin-bottom: 30px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 50px;
    }



    .sobre {
        margin-top: 30px;
    }

   
   
    .Data {
        font-size: 80px;
        align-items: center;
    }

    .ESG {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .sobre_esg {
        width: 600px;
    }

    .conteudo_contato {
        flex-direction: column;
        gap: 50px;
    }

    .ESG img {
       
        width: 80%;

    }
}

@media screen and (max-width: 768px) {

    #burguer {
        display: block;
        color: white;
        font-size: 55px;
    }

    #itens {
        position: absolute;
        /* (viewpor height) */
        height: 92vh;
        /* (viewport width) */
        width: 50vw;
        top: 16vh;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: var(--background2);
        gap: 50px;

    }

    .menu li {
        padding: 50px;
    }

    .menu {
        display: none;
    }

    .quem_somos {
        flex-direction: column-reverse;
        
    }

    .sobre {
        margin-top: 30px;
    }

    .Data {
        font-size: 55px;
        align-items: center;
    }

    .imgs {
        gap: 50px;
    }

    .ESG {
        flex-direction: column;
        align-items: center;
    }

    .sobre_esg {
        width: 50%;
    }
}



@media screen and (max-width: 580px) {

    #burguer {
        display: block;
        color: white;
        font-size: 55px;
    }

    #itens {
        position: absolute;
        /* (viewpor height) */
        height: 92vh;
        /* (viewport width) */
        width: 50vw;
        top: 16vh;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: var(--background2);
        gap: 50px;

    }

    .menu li {
        padding: 50px;
    }

    .menu {
        display: none;
    }

    .Data {
        font-size: 35px;
        align-items: center;
    }

    .ESG img {
        width: 80%;
    }

    .mapa {
        width: 400px;
    }

    .borda_mapa {
        width: 480px;
    }

    .sobre_contato {
        align-items: center;
        justify-content: center;
    }
}